body {
    margin: 0 auto;
}
.left-side-menu {
    position: absolute;
    left: -400px;
    display: flex;
    box-sizing: border-box;
    border: 2px solid black;
    width: auto;
    height: 100vh;
}
.left-side {
    box-sizing: border-box;
    display: flex;
    border: 2px solid red;
    width: 320px;
    height: 100vh;
}
.open-btn {
    border-radius: 20px;
    margin: 300px 500px;
    outline: none;
}
.left-side-menu-show {
    top: 0;
    transform: translateX(400px);
    transition: all 0.4s;
}
.left-side-menu-hide {
    top: 0;
    transform: translateX(-400px);
    transition: all 0.4s;
}